body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  color: silver;
}

.to-do {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  margin: auto;
}

.to-do__task-list {
  width: 100%;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

  .list-item__chip {
align-self: center;
  }

.login-page-forms {
  width: 400px;
  margin: auto;

}

.login-page {
  width: 1000px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

.logout-button {
position: absolute;
right: 0;
top: 0;
}

.to-do-container {
  position: relative;
}

.to-do__loading > div {
  transform: translateX(-50%);
  margin-left: 50%;
}